.menu {
	background:#FFFFFF;
	font-family: "Meiryo",sans-serif,fantasy,monospace;
}

.common{
	text-align:center;
/*
	border:solid 10px;
*/

}

.title{
	font-size:300%;
	line-height:150%;
	text-align:center;
	border:solid 10px #005599;
	border-radius:1em;
	background-color:#5555ff;
}

.topmenu{
	url:./top.html
}

.blankrow{
	height:20px;
}

.topics{
	text-align:left;
}

.topicshead{
	font-size:150%;
	font-weight:bolder;
}

.topicsbody{
	font-size:100%;
	font-weight:normal;
}




